version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Presentation/Dockerfile
    container_name: clean-app
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:5000
      - ConnectionStrings__DefaultConnection=${DB_CONNECTION}
      - ConnectionStrings__BackgroundConnection=${HF_CONNECTION}
      - Redis__Connection=redis:6379
      - RabbitMQ__Host=rabbitmq
      - RabbitMQ__Username=guest
      - RabbitMQ__Password=guest
    ports:
      - "5000:5000"
    depends_on:
      - db
      - redis
      - rabbitmq
    networks:
      - app-network

  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    environment:
      - SA_PASSWORD=${SA_PASSWORD}
      - ACCEPT_EULA=Y
    ports:
      - "1433:1433"
    volumes:
      - db-volume:/var/opt/mssql
    networks:
      - app-network

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - app-network

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"     # app connect
      - "15672:15672"   # UI
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  db-volume: